@font-face {
    font-family: 'Comfortaa';
    src: url('font/Comfortaa-VariableFont_wght.ttf') format('truetype');
}
body{
    background-image: url(imagens/space.PNG); 
    background-size: cover; 
    font-family: "Comfortaa";
}
.titulo {
    color: azure;
    margin-left: 30px;
}
.texto {
    color: azure;
    margin-top: 40px;
    text-align: center;
}
.corVermelha{
    color:rgba(207, 2, 2, 0.938);
}
.corVerde{
    color:#58a700;
}
.logo{
    max-width: 200px; 
    max-height: 166,25px;
}
/*
site para criar botão: https://css3buttongenerator.com/
*/
.botao {
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
    color:aquamarine;
    font-weight: bold;
}
.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: "Comfortaa";
    color: #ffffff;
    font-size: 14px;
    background: #58a700;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #58cc02;
    text-decoration: none;
  }